<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="ALIEN" nzSubtitle="Le 8éme passager">
</nz-page-header>
<!DOCTYPE html>
<html>
<body>

<iframe width="1030" height="615" src="https://www.youtube.com/embed/FBR8VcdpE4Y"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<body>
<img src="../../../../assets/creep.jpg" alt="affiche film alien"/>
<nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>
<span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>
`</body>
</body>
</html>


<nz-descriptions nzTitle="a" nzLayout="vertical">


  <nz-descriptions-item nzTitle="realisateur">Patrick Kack-Brice</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Synopsis">Aaron, un réalisateur sans le sou, accepte de se rendre dans un chalet éloigné pour un client, Josef. Josef explique à Aaron qu'il ne lui reste que peu de temps à vivre car il est atteint d'une tumeur au cerveau inopérable. Il va mourir avant que sa femme enceinte, Angela n'accouche et demande à Aaron de l'aider à enregistrer un journal vidéo pour son enfant à naître. Mais Josef est excentrique, ce qui met Aaron mal à l'aise jusqu'au point où Josef révèle qu'il a violé sa femme. Se sentant en danger, Aaron cherche ses clefs de voiture mais ne les trouve pas. Il intercepte un appel téléphonique d'Angela, qui est en fait la sœur de Josef qui l'enjoint à fuir le plus vite possible.</nz-descriptions-item>

</nz-descriptions>


