<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="ALIEN" nzSubtitle="Le 8éme passager">
</nz-page-header>
<!DOCTYPE html>
<html>
<body>

<iframe width="1030" height="615" src="https://www.youtube.com/embed/aeUJf5pCgOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<body>
<img src="../../../../assets/alien.png" alt="affiche film alien"/>
<nz-rate [(ngModel)]="value" [nzTooltips]="tooltips"></nz-rate>
<span *ngIf="value" class="ant-rate-text">{{ value ? tooltips[value - 1] : '' }}</span>
`</body>
</body>
</html>


<nz-descriptions nzTitle="ALIEN, LE 8éme PASSAGER" nzLayout="vertical">


  <nz-descriptions-item nzTitle="realisateur">Ridley scott</nz-descriptions-item>
  <nz-descriptions-item nzTitle="Synopsis">Durant le voyage de retour d'un immense cargo spatial en mission commerciale de routine, ses passagers, cinq hommes et deux femmes plongés en hibernation, sont tirés de leur léthargie dix mois plus tôt que prévu par Mother, l'ordinateur de bord.
    Ce dernier a en effet capté dans le silence interplanétaire des signaux sonores, et suivant une certaine clause du contrat de navigation, les astronautes sont chargés de prospecter tout indice de vie dans l'espace .</nz-descriptions-item>

</nz-descriptions>

