
<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="../assets/favicon.png" target="_blank">
        <img src="assets/favicon.png" alt="logo">
        <h1>CineNigtmare</h1>
      </a>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">

      <li nz-submenu nzOpen nzTitle="Espace cinephile" nzIcon="video-camera">

                <ul>
                  <li nz-submenu nzOpen nzTitle="Les Films" nzIcon="video-camera">
                        <ul>
                          <li nz-menu-item nzMatchRouter>
                            <a routerLink="movies">films</a>
                          </li>
                          <li nz-menu-item nzMatchRouter>
                            <a routerLink="alien">Alien</a>
                      <li nz-menu-item nzMatchRouter>
                        <a routerLink="maniac">Maniac</a>
                      </li>
                      <li nz-menu-item nzMatchRouter>
                        <a routerLink="predator">Predator</a>
                      </li>
                      <li nz-menu-item nzMatchRouter>
                        <a routerLink="creep">Creep</a>
                      </li>
                      <li nz-menu-item nzMatchRouter>
                        <a routerLink="jusqu-enenfer">jusque en enfer</a>
                      </li>
                          <li nz-menu-item nzMatchRouter>
                            <a routerLink="halloween">Halloween</a>
                          </li>

                        </ul>



                </ul>
<ul>

      <li nz-submenu nzOpen nzTitle="paramètres" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="user">compte</a>
          </li>
        </ul>
      </li>

    </ul>
      </li>
    </ul>

  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>

    </nz-header>
    <nz-content>

      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

