
<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Liste Des Films" nzSubtitle=" tous les sous-genres">
</nz-page-header>
<nz-table #basicTable [nzData]="movies">
  <thead>
  <tr>
    <th>film</th>
    <th>genre</th>
    <th>Année de sortie</th>
    <th>realisateur</th>
    <th>durée</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.MovieName }}</td>
    <td>{{ data.MovieKind }}</td>
    <td>{{ data.AnneeDeSortie }}</td>
    <td>{{ data.realisateur }}</td>
    <td>{{ data.Duree }}</td>

    <td>

      <a >add liste</a>
      <nz-divider nzType="vertical"></nz-divider>

        <a routerLink="alien">voir</a>


    </td>
  </tr>
  </tbody>
</nz-table>
`





