<nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Nanar" nzSubtitle="Notre de selection de film d'horreur Nanardesque ">
</nz-page-header>
<nz-table #basicTable [nzData]="movies">
  <thead>
  <tr>
    <th>films</th>
    <th>genre</th>
    <th>Année de sortie</th>
    <th>realisateur</th>
    <th>durée</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{ data.MovieName }}</td>
    <td>{{ data.MovieKind }}</td>
    <td>{{ data.AnneeDeSortie }}</td>
    <td>{{ data.realisateur }}</td>
    <td>{{ data.Duree }}</td>
    <td>
      <a>add liste 一 {{ data.data }}</a>
      <nz-divider nzType="horizontal"></nz-divider>
      <a>voir</a>
    </td>
  </tr>
  </tbody>
</nz-table>
